body{
    background-color: #ADD4D0;
    font-family: 'Averia Libre', cursive;
}

input, label, button{
    display: block;
    font-family: 'Averia Libre', cursive;
}

.mainNovaVacina{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.formNovaVacina{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content:flex-start;
}

.containerForm{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
}

.labels{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    text-align: end;
    height: 100%;
    margin-right: 20px;
    color: white;
    width: 50%;
}

.labelDataVacina, .labelVacina, .labelDose, 
.labelComprovante{
    margin-top: 27px;
}

.labelProxDose{
    margin-top: 194px;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 80%;
}

.inputDataVacina{
    margin-top: 27px;
}

.inputVacina{
    margin-top: 19px;
    margin-bottom: 29px;
}

.inputs input{
    width: 300px;
    height: 48px;
    border: none;
    color: #3F92C5;
    font-size: 30px;
    padding-left: 15px;
}


.inputsDose{
    display: flex;
    margin-top: 3px;
    margin-bottom: 30px;
}

.buttonSelecionarImg{
    width: 299px;
    height: 47px;
    background-color: #419ED7;
    border: 1px solid #3F92C5;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.5s ease-out;
}

.buttonSelecionarImg:hover{
    transform: scale(0.9);
}

.containerComprovante{
    margin-bottom: 32px;
}
.inputsDose input{
    width: 25px;
    height: 25px;
    margin-right: 10px;

}

.inputsDose label{
    text-align: center;
    font-size: 25px;
    color: white;
    margin-right: 20px;
}



.buttonSalvar{
    cursor: pointer;
    align-self: center;
    border: 1px solid #37BD6D;
    background-color: #49B976;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 188px;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 24px;
    box-shadow: 0px 4px 5px rgba(44, 43, 43, 0.4);
    transition: transform 0.5s ease-out;
}

.buttonSalvar:hover{
    transform: scale(1.1);
}

.buttonDelete{
    width: 133px;
    height: 44px;
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 22px;
    background-color: #FD7979;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
    text-align: center; 
    transition: transform 0.5s ease-out;
}

.buttonDelete:hover{
    transform: scale(1.1);
}

/*Edição modal*/

.containerModal{ /* Oculta a janela modal por padrão */
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalDelete{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 650px;
    height: 30%;
    max-width: 800px;
}

.textModal{
    color: #FD7979;
    font-size: 30px;
    text-align: center;
}

.buttonsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsContainer button{
    width: 216px;
    height: 71px;
    color: white;
    font-size: 36px;
    margin-top: 50px;
    border: none;
}

.buttonSim{
    margin-right: 50px;
    background-color: #FF8383;
    cursor: pointer;
    transition: transform 0.5s ease-out;
}

.buttonSim:hover{
    transform: scale(1.1);
}

.buttonCancelar{
    background-color: #3F92C5;
    cursor: pointer;
    transition: transform 0.5s ease-out;
}

.buttonCancelar:hover{
    transform: scale(1.1);
}

